body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--main-bg-color);
    font-size: 16px;
}

:root {
    --main-bg-color: #F8F3FF;
    --purple: #8E43ED;
    --light-purple: #D9BBFF;
    --black: #000000;
    --white: #FFF;
    --grey:  #303030;
    --light-grey: #DED9E4;
    --light-black:#AFAFAF;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 26px;
    padding-left: 64px;
    padding-right: 176px;
    padding-bottom: 38px;
}

.nav {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-item {
    margin-left: 32px;
}

.nav-item-jane-doe {
    margin-left: 0;
    margin-right: 32px;
    display: flex;
    flex-direction: row;
    grid-gap: 8px;
}

.nav-link {
    text-decoration: none;
    color: var(--purple);
    font-weight: 500;
    transition: 0.2s ease color;
}

.nav-link-bold {
    font-weight: 700;
}

.nav-link-black {
    color: var(--black);
}

.wrapper {
    margin: 0 auto;
    padding-left: 64px;
    padding-right: 64px;
    max-width: 1440px;
    position: relative;
}