.section-jane-doe {
    background-color: var(--white);
    padding: 100px 176px 100px 0;
    border-radius: 250px 0;
}

.section-jane-doe-content {
    display: flex;
    flex-direction: row;
    grid-gap: 32px;
}

.section-jane-doe-img {
    width: 528px;
    height: 600px;
}

.section-jane-doe__title {
    font-weight: 800;
    font-size: 56px;
    color: var(--black);
    margin-top: 44px;
}

.section-jane-doe__title-small {
    font-size: 27px;
    margin-top: 64px;
}

.section-jane-doe__article{
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    line-height: 32px;
}

@media (max-width: 400px) {
    .section-jane-doe {
        border-radius: 0;
        padding: 24px 13px 58px 14px;
    }
    .section-jane-doe-img {
        width: 348px;
        height: 396px;
    }
    .section-jane-doe-content {
        display: flex;
        flex-direction: column;
        grid-gap: 32px;
    }
    .nav-item-jane-doe {
        flex-direction: column;
    }
    .section-jane-doe__title {
        margin-top: 24px;
    }
}